a{text-decoration: none;}

/* ?header */

header{
    position: relative;
    padding: 70px 0 0 0;
}

header h1{
    position: absolute;
    top: 70px;
    left: calc(960px - 25%);
}

header > ul::after{
    content: '';
    visibility: hidden;
    display: block;
    clear: both;
}

header > ul li:nth-of-type(n - 3){
    float: left;
    padding: 70px 0 0 0;
}
header > ul li:nth-of-type(n + 4){
    float: right;
}

header > ul li > a > span ~ div{
    display: none;
}

header h1 ~ ul li a{
    color: #c9c7ca;
}

header nav{
    border-top: solid 1px #c9c7ca; 
    border-bottom: solid 1px #c9c7ca;
}

header nav ul::after{
    content: '';
    visibility: hidden;
    display: block;
    clear: both;
}

header nav > ul li{
    float: left;
}
header nav > ul li:last-of-type{
    float: right;
}

header nav ul li a{
    color: #878589
}

header nav ul li a span.material-icons{
    color: #6b696c;
}

header nav ul li ul li{
    display: none;
}