a{text-decoration: none;}

/* *font light */
section.main_content,
footer ul li p,
footer ul li a,
header nav > ul li,
section.Announcement_content h2,
section.Announcement_content p,
div.Announcement_content form input,
section.cart_content h2,
section.login_content h2,
section.login_content form fieldset input::placeholder,
section.login_content form fieldset input[type = 'submit'],
section.login_content form p a,
section.login_content form > a,
section.join_content h2,
section.join_content form fieldset legend,
section.join_content form fieldset label,
section.join_content form fieldset:nth-last-of-type(2) span,
section.join_content form fieldset:nth-last-of-type(2) div:not(:first-of-type) p,
section.join_content form fieldset:last-of-type input,
section.join_content form fieldset:nth-of-type(3) div input:nth-of-type(2),
section.join_content form fieldset:nth-of-type(4),
section.join_content form fieldset:nth-last-of-type(2) textarea,
section.objects h2,
section.objects ul li button,
section.objects ul li a,
section.cart_content form a,
section.cart_content form fieldset > div.delivery_object p,
section.cart_content form fieldset > p,
div.order_object .listBox span,
section.cart_content form fieldset div.order_object > p,
section.cart_content form fieldset div.order_object > span,
section.cart_content form fieldset div.order_object ul li.listBox a:last-of-type{
    font-family: 'MaplestoryOTFLight';
    font-weight: 300;
    font-style: normal;
}

/* *font bold */
header > ul > li > a,
header nav > ul li,
section.main_content h2,
footer ul li h3,
footer ul li strong a{
    font-family: 'MaplestoryOTFBold';
    font-weight: 900;
    font-style: normal;
}

.contentsWidth{max-width: 1360px; margin: 0 auto;}

/* *class board */

/* *class pager */

/* *subPage */
div.subPage header{
    margin-bottom: 100px;
}

div.subPage h2{
    margin-bottom: 70px;
}

/* ?header */

header{
    position: relative;
}

header h1{
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%);
}

header > ul::after{
    content: '';
    visibility: hidden;
    display: block;
    clear: both;
}
header > ul{
    padding: 70px 0 80px;
}

header > ul > li{
    position: relative;
    width: 85px;
    text-align: center;
    margin-right: 65px;
    /* !이거 공간을 85를 줫는데 그 공간의 가운데에 배치 시키는 법을 모르겟 */
    /* 그리고 얘네가 분명 제대로 된 한 줄ㅇ엇는데 왜 갑자기 오른쪽 애가 
    아래로 내려갔는 지 모르겟음 */
    float: left;
}
header > ul li:nth-of-type(4){
    /* !마진을 calc로 준다 오른쪽 메뉴 + 왼쪽 메뉴 합친 거 100에서 빼기 */
    margin-left: calc(100% - 835px);
}

header > ul > li:last-child{
    margin: 0;
}
/* header ul li a span meterial아이콘만 살리는 방법을 모르게ㅆ음 
글씨만 없애고 span한테 display블럭 줬는데도 같이 다 사라짐 이유를 ㅁ름
현재 쌤은 답장 없음 ㅋ */

header > ul > li span{
    position: absolute;
    top: 0;
    left: calc(50% - 12px);
    /* 위에가 가운데가 안맞아서 수치 넣는 걸 못하겟음: 아이콘 크기의 반을 줘야함 */
}

header > ul li > a > span ~ div{
    display: none;
}

header h1 ~ ul li a{
    color: #fff;
}
header h1 ~ ul li a span{
    color: #c9c7ca;
}
body > header > ul > li a:hover{
    font-size: 18px;
    color: #878589;
}
body > header > ul > li a:hover span{
    display: none;
}

/* !갑자기 아이콘이 글자로 안 바뀜 */

header nav{
    border-top: solid 1px #c9c7ca; 
    border-bottom: solid 1px #c9c7ca;
    position: relative;
}
header nav > ul::before{
    content: '';
    background-color: #fff;
    height: 0px;
    transition: height 0.1ms ease-in-out, border-bottom 0.1ms;
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
    z-index: 100;
    border: 0;
}
header nav ul::after{
    content: '';
    visibility: hidden;
    display: block;
    clear: both;
}
header nav ul{
    z-index: 100;
}

header nav.active ul::before{
    height: 200PX;
    border-bottom: solid 1px #c9c7ca;
}

header nav.active ul li ul{
    display: block;
}

header nav > ul > li{
    float: left;
    margin-right: 2%;
    line-height: 45px;
    font-size: 18px;
    position: relative;
    z-index: 110;
}

header nav > ul > li:last-of-type{
    float: right;
}
header nav > ul > li:nth-last-of-type(2){
    margin: 0px;
}

header nav > ul > li a{
    color: #878589
}
header nav > ul > li a:hover{
    color: #645772;
    /* border-top: #645772;
    border-bottom: #645772; */
    /* nav한테 보더가 있는데 얘네 호버하면 얘네 범위만 보더 색이 바뀌게 해야댐 */
}

header nav > ul > li a span.material-icons{
    position: absolute;
    left: -50%;
    color: #6b696c;
    font-size: 30px;
    font-weight: 200;
    line-height: 45px;
}
header nav > ul > li > ul{
    display: none;
}
header nav > ul > li > ul{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
}
header nav > ul > li:hover > ul{
    display: block;
}

header nav > ul > li > ul > li{
    width: 90px;
    /* width를 저정도 줘야 다이어리/달력 부분이 안 떨어지는데
    max width로 해도 안되고 그렇게 주면 소품 부분 애들이
    옆으로 밀려버림 */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #878589;
    font-size: 14px;
} 


/* 모든 ul li가 한 번에 다 나왓으면 좋겟는데 그렇게 안 나옴 */
header nav > ul > li:hover ul li a:hover{
    color: #000;
}



/* !ul에 올려도 다 나옴 메뉴가 */



/* ?footer */

footer{
    /* padding-top: 70px; */
    padding: 70px 0;
    margin-top: 160px;
    /* 레이아웃 맞추려고 잠깐 넣은 마진임 */
    border-top: 1px #c9c7ca solid;
}

footer ul{
    max-width: 1100px;
    margin: 0 auto;
}
footer ul::after{
    content: '';
    visibility: hidden;
    display: block;
    clear: both;
}

footer ul{
    display: flex;
    justify-content: space-between;
}

footer ul li h3{
    font-size: 16px;
    color: #464348;
    margin-bottom: 30px;
}

footer ul li strong{
    margin-bottom: 25px;
}

footer ul li strong a{
    display: block;
    font-size: 16px;
    color: #000;
}

footer ul li p{
    font-size: 16px;
    color: #464348;
}

footer ul li p:first-of-type{
    line-height: 20px;
    margin-bottom: 20px;
}

footer ul li a{
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #464348;
    margin-bottom: 20px;
}