/* ?slider */

div.bx-wrapper{
    height: 660px;
    margin-bottom: 105px;
    position: relative;
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-bottom: 45px #e2d0f4 solid;
}

div.bx-wrapper .bx-prev{
    background: url('../../img/lt_.png') no-repeat center;
}

div.bx-wrapper .bx-controls-direction a{
    width: 30px;
    height: 70px;
    position: absolute;
    top: 50%;
}
div.bx-wrapper .bx-controls-direction a:first-of-type{
    left: 6.25%;
}
div.bx-wrapper .bx-controls-direction a:last-of-type{
    right: 6.25%;
}

div.bx-wrapper .bx-next{
    background: url('../../img/gt_ .png') no-repeat center;
}
div.bx-wrapper .bx-next:hover, .bx-wrapper .bx-next:focus{
    background-position: center;
}
/* 배너 오른쪽 화살표가 자꾸 마우스 올리면 사라짐: 우선순위때문에 백그라운드에서 
포지션이 안 먹어서 따로 잡아서 포지션 줌 */


/* ?main section */

section.main_content h2{
    text-align: center;
    color: #d135ff;
    font-size: 48px;
}

section.main_content div{
    margin: 0 auto;
}

section.main_content div ul::after{
    content: '';
    visibility: hidden;
    display: block;
    clear: both;
}
section.main_content div ul{
    max-width: 1195px;
    margin: 0 auto;
}

section.main_content div ul li{
    max-width: 345px;
    float: left;
    text-align: center;
    margin-right: 6.6%;
}
section.main_content div ul li:nth-of-type(3n){
    margin: 0;
}
section.main_content:first-of-type div ul li:last-child{
    margin-bottom: 110px;
}
section.main_content div ul li:nth-of-type(n + 4){
    display: none;
}
/* 그 넘어가는 슬라이드 같이 만들 건데 3개 까지만 나와야대서 잠깐 지움 */

section.main_content div ul li a img{
    max-width: 345px;
}

section.main_content div ul li  a span{
    display: block;
    text-align: right;
    color: #716d73;
}

section.main_content div ul li a p{
    font-size: 18px;
}
section.main_content div ul li a p:first-of-type{
    color: #716d73;
    line-height: 20px;
}
section.main_content div ul li a p:last-of-type{
    color: #000;
}



/* ?Announcement */

section.Announcement_content h2{
    font-size: 36px;
    color: #878589;
    text-align: center;
}
section.Announcement_content h2:after{
    content: '';
    width: 170px;
    height: 1px;
    background-color: #878589;
    display: block;
    margin: 10px auto 0;
}

section.Announcement_content p{
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    color: #878589;
}

div.Announcement_content{
    margin: 100px 0 100px;
    text-align: center;
} 

div.Announcement_content form input[type = 'text']{
    width: 8.8%;
    border: #646165 solid 1px;
    font-size: 13px;
}
div.Announcement_content form input[type = 'submit']{
    width: 2.5%;
    background-color: #646165;
    font-size: 14px;
    border: 0;
    color: #fff;
}



/* ?cart */

section.cart_content{
    max-width: 73%;
    margin: 0 auto;
}

section.cart_content h2{
    color: #878589;
    font-size: 36px;
    text-align: center;
}

section.cart_content form a{
    font-size: 12px;
    display: inline-block;
}

section.cart_content form fieldset > div.delivery_object{
    margin-bottom: 25px;
}
section.cart_content form fieldset > div.delivery_object::after{
    content: '';
    visibility: hidden;
    display: block;
    clear: both;
}

section.cart_content form fieldset > div.delivery_object a{
    color: #646165;
    padding: 10px 20px ;
    /* 클릭 이벤트 넣을 예정 클릭하면 글자색 검은색으로 바뀜 */
}
section.cart_content form fieldset > div.delivery_object a{
    float: left;
}

section.cart_content form fieldset > div.delivery_object p{
    float: right;
    font-size: 12px;
    color: #646165;
}

section.cart_content form fieldset > p{
    display: none;
    margin: 200px 0 100px;
    text-align: center;
    font-size: 12px;
    color: #878589;
}

div.order_object div.listBox{
    width: 100%;
    float: left;
}
div.order_object .listBox span{
    display: inline-block;
    width: 11.7%;
    color: #716d73;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
}
div.order_object div.listBox:last-of-type span{

}

section.cart_content form fieldset > div.order_button a{
    width: 10.7%;
    height: 40px;
    color: #fff;
    text-align: center;
    line-height: 40px;
}
section.cart_content form fieldset > div.order_button a:nth-of-type(1){
    background-color: #878589;
}
section.cart_content form fieldset > div.order_button a:nth-of-type(2){
    background-color: #c9c7ca;
}
section.cart_content form fieldset > div.order_button a:nth-of-type(3){
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
}


/* ?login */

section.login_content h2{
    font-size: 36px;
    color: #464348;
    text-align: center;
}

section.login_content form{
    margin-bottom: 230px;
}

section.login_content form fieldset{
    margin-bottom: 10px;
}

section.login_content form fieldset input{
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 20%;
    box-sizing: border-box;
    margin: 0 auto;
    border: #878589 solid 1px;
}
section.login_content form fieldset input[type = 'text']{
    margin-bottom: 20px;
}
section.login_content form fieldset input[type = 'password']{
    margin-bottom: 55px;
}
section.login_content form fieldset input[type = 'submit']{
    height: 50px;
    font-size: 18px;
    color: #fff;
    background-color: #878589;
    border: none;
    justify-content: center;
    align-items: center;
}
section.login_content form fieldset input:not(:last-of-type){
    padding-left: 20px;
}
section.login_content form fieldset input::placeholder{
    color: #878589;
    font-size: 18px;
}

section.login_content form p{
    width: 110px;
    margin: 0 auto;
    padding-right: calc(20% - 110px);
    /* 가운데가 아니라 로그인 버튼이랑 왼쪽을 맞춰서 두고싶음: 패딩 줌 */
}
section.login_content form p:last-of-type{
    margin-bottom: 70px;
}

section.login_content form p a{
    font-size: 11px;
    color: #000;
}

section.login_content form > a{
    display: block;
    width: 20%;
    height: 60px;
    border: solid #000 1px;
    text-align: center;
    line-height: 60px;
    margin: 0 auto;
    color: #000;
    font-size: 18px;
}



/* ?join */

section.join_content h2{
    color: #464348;
    font-size: 48px;
    text-align: center;
}

section.join_content form{
    max-width: 1360px;
    margin: 0 auto;
}

section.join_content form fieldset{
    display: flex;
    flex-wrap: wrap;
}
section.join_content form fieldset:not(:nth-last-of-type(3),:nth-last-of-type(2),:last-of-type){
    border-top: #c9c7ca 1px solid;
    border-bottom: #c9c7ca 1px solid;
}
section.join_content form fieldset:nth-of-type(1){
    margin-bottom: 75px;
    border-top: 2px solid #c9c7ca;
    flex-direction: row;
}
section.join_content form fieldset:nth-of-type(2){
    /* border-top: 2px #c9c7ca solid; */
    border: 0;
}
/* *아이디에 부분 위에 있던 보던데 아이디 라벨이랑 인풋에 보더 넣을 거 */
section.join_content form fieldset:nth-of-type(3){
    border-top: 2px #c9c7ca solid;
    margin-bottom: 75px;
}
section.join_content form fieldset:nth-of-type(4){
    /* border-top: 2px #c9c7ca solid; */
    /* *보더 위로 legend가 올라와서 라벨이랑 인풋에 직접 줌 */
    flex-direction: row;
    margin-bottom: 50px;
    font-size: 14px;
}
section.join_content form fieldset:nth-of-type(5){
    margin-bottom: 20px;
}
section.join_content form fieldset:nth-of-type(6){}

section.join_content form fieldset legend{
    color: #000;
    font-size: 12px;
    /* !이 제목이 fieldset 위로 올라오면 좋겟음: 보더를 필드셋한ㅇ테 주지마 */
}

section.join_content form fieldset:nth-of-type(4) div{
    border-top: 2px solid #c9c7ca;
}

section.join_content form fieldset:not(:nth-last-of-type(2)) label{
    line-height: 40px;
    width: 11%;
    font-size: 16px;
    color: #000;
    padding-left: 10px;
}

section.join_content form fieldset:nth-of-type(3) div input:nth-of-type(2){
    font-size: 12px;
    color: #000;
}
/* !의문인게 저 우편번호 태그 눌려야되는데? */

section.join_content form fieldset:nth-of-type(4) div label{
    border: 0;
}
section.join_content form fieldset:nth-of-type(4) > label{
    border-top: solid 2px #c9c7ca;
}
section.join_content form fieldset:not(:nth-last-of-type(2),:last-of-type) label{
    background-color: #e5e4e5;
}
section.join_content form fieldset:nth-of-type(4) div label{
    background-color: #fff;
}
section.join_content form fieldset:nth-of-type(4) div label:nth-last-of-type(2){
    width: 3%;
}
section.join_content form fieldset:nth-of-type(4) div label:last-of-type{
    width: 3%;
}
section.join_content form fieldset:first-of-type div label{
    background-color: #fff;
    border: 0;
    width: 6.5%;
}
section.join_content form fieldset label:not(:last-of-type){
    border-bottom: 1px #c9c7ca solid;
}
/* !자꾸 위로 하얀색 공간이 생김 */
section.join_content form fieldset:nth-of-type(2) label:first-of-type{
    border-top: 2px #c9c7ca solid;
}
/* ! */

section.join_content form fieldset:not(:nth-last-of-type(2)) div{
    width: calc(100% - 11% - 10px);
    display: flex;
    align-items: center;
}

section.join_content form fieldset:nth-of-type(2) div:first-of-type{
    border-top: 2px #c9c7ca solid;
}
section.join_content form fieldset:nth-of-type(4) div{
    border-bottom: 1px solid #c9c7ca;
}

section.join_content form fieldset:not(:nth-last-of-type(2)) div input{
    width: 16.5%;
    margin-left: 10px;
    border: 1px #e5e4e5 solid;
}
section.join_content form fieldset:first-of-type div input{
    width: 10px;
}
section.join_content form fieldset:nth-of-type(3) div:nth-of-type(2) input:nth-of-type(2){
    margin-left: 15px;
    border: 1px solid #e5e4e5;
    background-color: #fff;
}
section.join_content form fieldset:nth-of-type(3) div:nth-of-type(2){
    flex-wrap: wrap;
}
/* *주소 밑으로 떨궈야되서 flexwrap 사용함 */
section.join_content form fieldset:nth-of-type(3) div:nth-of-type(2) input:nth-of-type(1){
    width: 8.26%;
    margin: 10px 0 10px 10px;
}
section.join_content form fieldset:nth-of-type(3) div:nth-of-type(2) input:nth-of-type(2){
    width: 8.26%;
    margin: 10px 0 10px 15px;
    margin-right: calc(90% - (16.52% - 30px));
    cursor: pointer;
}
section.join_content form fieldset:nth-of-type(3) div:nth-of-type(2) input:nth-of-type(3){
    width: 33%;
    margin-right: calc(70% - (16.52% - 30px));
}
section.join_content form fieldset:nth-of-type(3) div:nth-of-type(2) input:nth-of-type(4){
    width: 33%;
    margin: 10px 0 10px 10px;
}
/* *margin 사용해서 옆으로 밀 예정 */
section.join_content form fieldset:nth-of-type(3) div:nth-of-type(3) input{
    width: 8.25%;
    margin-right: 10px;
}
section.join_content form fieldset:nth-of-type(3) div:nth-of-type(4) input{
    width: 8.25%;
    margin-right: 10px;
}
section.join_content form fieldset:nth-of-type(4) div input:first-of-type{
    width: 8%;
}
section.join_content form fieldset:nth-of-type(4) div input:not(:first-of-type){
    width: 4%;
}
section.join_content form fieldset:nth-of-type(4) div input:nth-last-of-type(2){
    width: 1%;
    margin-left: 25px;
}
section.join_content form fieldset:nth-of-type(4) div input:last-of-type{
    width: 1%;
}


/* * 전체동의 부분 */

section.join_content form fieldset:nth-last-of-type(2){
    border: 1px solid #c9c7ca;
}

section.join_content form fieldset:nth-last-of-type(2) > div:first-of-type{
    /* width: 20px; */
    border-bottom: 1px #c9c7ca solid;
    padding-left: 20px;
    /* 원래 마진으로 줫는데 보더가 안 먹어서 패딩으로 바꿈 다른 좋은 
    방법잇으면 알려주세여 쌤 */
    display: flex;
    align-items: center;
}

section.join_content form fieldset:nth-last-of-type(2) label{
    border-bottom: solid #c9c7ca 1px;
    padding-left: 20px;
    line-height: 40px;
    width: calc(100% - 60px);
}
section.join_content form fieldset:nth-last-of-type(2) div label{
    width: 3%;
    line-height: normal;
    font-size: 12px;
    border: 0;
    padding: 0;
    margin-left: 10px;
}

section.join_content form fieldset:nth-last-of-type(2) div:not(:first-of-type) input{
    margin-left: 15px;
}
section.join_content form fieldset:nth-last-of-type(2) div:not(:first-of-type){
    width: 92.5%;
    margin: 0 auto 20px;
    /* !저 가운데에 있는 이용약고ㅑ나 동의 밑에 보더가 한 줄 깔려야함 = div 하나 더 사용*/
}
section.join_content form fieldset:nth-last-of-type(2) div input{
    vertical-align: sub;
}

section.join_content form fieldset:nth-last-of-type(2) span{
    font-size: 12px;
    color: #000;
    width: 92.5%;
    margin: 20px auto 10px;
}
section.join_content form fieldset:nth-last-of-type(2) textarea{
    display: block;
    width: 92.5%;
    margin: 0 auto 10px;
    border: #c9c7ca solid 1px;
    resize: none;
    font-size: 14px;
    /* !스크롤 색 바꾸고싶음 그리고 글자가 이상하게 떨어짐 */
}

section.join_content form fieldset:nth-last-of-type(2) div:not(:first-of-type) p{
    font-size: 12px;
    display: inline-block;
    line-height: 12px;
}
section.join_content form fieldset:nth-last-of-type(2) div:not(:first-of-type) p:first-of-type{
    padding-bottom: 20px;
    margin: 0;
}

section.join_content form fieldset:last-of-type{
    margin: 0 auto;
    width: 16%;
}

section.join_content form fieldset:last-of-type input{
    width: 46%;
    height: 40px;
    border-radius: 0;
    border: #646165 solid 1px;
    font-size: 16px;
}
section.join_content form fieldset:last-of-type input[type = 'submit']{
    margin-right: 15px;
    background-color: #646165;
    color: #fff;
}

section.join_content hr{
    width: 100%;
    border-width: 0;
    border-bottom: solid #c9c7ca 1px;
}
/* todo. 회원가입은 선택자 연습하면서 해보기 */

/* ?object */

section.objects h2{
    font-size: 36px;
    text-align: center;
}

section.objects > ul:first-of-type{
    max-width: 73%;
    display: flex;
    justify-content: right;
    margin: 0 auto 55px;
}

section.objects ul:first-of-type > li:not(:last-of-type){
    margin-right: 5px;
    border-right: 1px solid #c9c7ca;
    padding-right: 5px;
}
section.objects ul:first-of-type li:last-of-type{
    margin-right: 40px;
}

section.objects ul:first-of-type li button{
    font-size: 12px;
    color: #878589;
    border: 0;
    background-color: #fff;
}

section.objects ul:first-of-type li button:hover{
    cursor: pointer;
    color: #000;
}

section.objects ul:nth-of-type(2):after{
    content: '';
    visibility: hidden;
    display: block;
    clear: both;
}
section.objects ul.list_item{
    max-width: 73%;
    margin: 0 auto;
} 

section.objects ul.list_item li{
    width: 25%;
    float: left;
    margin-bottom: 70px;
}

section.objects ul.list_item li a::after{
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
}

section.objects ul.list_item li a span.material-icons{
    color: #c8c7c8;
    float: right;
}

section.objects ul:nth-of-type(2) li a img{
    width: 100%;
    margin-bottom: 15px;
}

section.objects ul.list_item li a p{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 20px;
    color: #716d73;
    margin-top: 40px;
    margin-bottom: 10px;
}

section.objects ul.list_item li a b{
    display: flex;
    justify-content: center;
    color: #000;
}

/* todo. 리스트 디테일 페이지 */
/* todo. 회원가입 마무리 해보기 */

/* ?things */

section.thing{
    max-width: 63.5%;
    margin: 0 auto;
}

section.thing h2{
    display: none;
}

section.thing figure figcaption{
    display: flex;
    flex-wrap: wrap;
}

section.thing figure figcaption a{
    width: 100%;
}
