/* ?slider */

div.bx-wrapper{
    height: 660px;
    margin-bottom: 105px;
    position: relative;
    border: 0;
    border-bottom: 45px #e2d0f4 solid;
}

div.bx-wrapper .bx-prev{
    background: url('../../img/lt_.png') no-repeat;
}

div.bx-wrapper .bx-controls-direction a{
    width: 30px;
    height: 70px;
    position: absolute;
    top: 50%;
}
div.bx-wrapper .bx-controls-direction a:first-of-type{
    left: 6.25%;
}
div.bx-wrapper .bx-controls-direction a:last-of-type{
    right: 6.25%;
}

div.bx-wrapper .bx-next{
    background: url('../../img/gt_ .png') no-repeat;
}

/* ?main section */

section.main_content h2{
    text-align: center;
    color: #d135ff;
    font-size: 48px;
    margin-bottom: 100px;
}

section.main_content div{
    margin: 0 auto;
}

section.main_content div ul::after{
    content: '';
    visibility: hidden;
    display: block;
    clear: both;
}
section.main_content div ul{
    max-width: 1195px;
    margin: 0 auto;
}

section.main_content div ul li{
    max-width: 345px;
    float: left;
    text-align: center;
    margin-right: 6.6%;
}
section.main_content div ul li:nth-of-type(3n){
    margin: 0;
}
section.main_content:first-of-type div ul li:last-child{
    margin-bottom: 110px;
}
section.main_content div ul li:nth-of-type(n + 4){
    display: none;
}
/* 그 넘어가는 슬라이드 같이 만들 건데 3개 까지만 나와야대서 잠깐 지움 */

section.main_content div ul li a img{
    max-width: 345px;
}

section.main_content div ul li  a span{
    display: block;
    text-align: right;
    color: #716d73;
}

section.main_content div ul li a p{
    font-size: 18px;
}
section.main_content div ul li a p:first-of-type{
    color: #716d73;
    line-height: 20px;
}
section.main_content div ul li a p:last-of-type{
    color: #000;
}