/* ?slider */

div.bx-wrapper{
    height: 660px;
    margin-bottom: 105px;
    position: relative;
    border: 0;
    border-bottom: 45px #e2d0f4 solid;
}

div.bx-wrapper .bx-prev{
    background: url('../../img/lt_.png') no-repeat center;
}

div.bx-wrapper .bx-controls-direction a{
    width: 30px;
    height: 70px;
    position: absolute;
    top: 50%;
}
div.bx-wrapper .bx-controls-direction a:first-of-type{
    left: 6.25%;
}
div.bx-wrapper .bx-controls-direction a:last-of-type{
    right: 6.25%;
}

div.bx-wrapper .bx-next{
    background: url('../../img/gt_ .png') no-repeat center;
}
div.bx-wrapper .bx-next:hover, .bx-wrapper .bx-next:focus{
    background-position: center;
}
/* 배너 오른쪽 화살표가 자꾸 마우스 올리면 사라짐: 우선순위때문에 백그라운드에서 
포지션이 안 먹어서 따로 잡아서 포지션 줌 */

/* ?main section */

section.main_content h2{
    text-align: center;
    color: #d135ff;
    font-size: 48px;
    margin-bottom: 100px;
}

section.main_content div{
    margin: 0 auto;
}

section.main_content div ul::after{
    content: '';
    visibility: hidden;
    display: block;
    clear: both;
}
section.main_content div ul{
    max-width: 1195px;
    margin: 0 auto;
}

section.main_content div ul li{
    max-width: 345px;
    float: left;
    text-align: center;
    margin-right: 6.6%;
}
section.main_content div ul li:nth-of-type(3n){
    margin: 0;
}
section.main_content:first-of-type div ul li:last-child{
    margin-bottom: 110px;
}
section.main_content div ul li:nth-of-type(n + 4){
    display: none;
}
/* 그 넘어가는 슬라이드 같이 만들 건데 3개 까지만 나와야대서 잠깐 지움 */

section.main_content div ul li a img{
    max-width: 345px;
}

section.main_content div ul li  a span{
    display: block;
    text-align: right;
    color: #716d73;
}

section.main_content div ul li a p{
    font-size: 18px;
}
section.main_content div ul li a p:first-of-type{
    color: #716d73;
    line-height: 20px;
}
section.main_content div ul li a p:last-of-type{
    color: #000;
}



/* ?Announcement */

section.Announcement_content{
    margin-top: 100px;
}

section.Announcement_content h2{
    font-size: 36px;
    color: #878589;
    text-align: center;
}
section.Announcement_content h2:after{
    content: '';
    width: 170px;
    height: 1px;
    background-color: #878589;
    display: block;
    margin: 10px auto 0;
}

section.Announcement_content p{
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    color: #878589;
}

div.Announcement_content{
    margin: 100px 0 100px;
    text-align: center;
} 

div.Announcement_content form input[type = 'text']{
    width: 8.8%;
    border: #646165 solid 1px;
    font-size: 13px;
}
div.Announcement_content form input[type = 'submit']{
    width: 2.5%;
    background-color: #646165;
    font-size: 14px;
    border: 0;
    color: #fff;
}



/* ?cart */

section.cart_content h2{
    color: #878589;
    font-size: 36px;
    text-align: center;
    margin-top: 100px;
}
/* 저 레이아웃 모양 잡는 거 못하겟음ㄷ */



/* ?login */

section.login_content h2{
    margin: 100px 0 55px;
    font-size: 36px;
    color: #000;
    text-align: center;
}

section.login_content form fieldset{
    margin-bottom: 10px;
}

section.login_content form fieldset input{
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 20%;
    box-sizing: border-box;
    margin: 0 auto;
    border: #878589 solid 1px;
}
section.login_content form fieldset input[type = 'text']{
    margin-bottom: 20px;
}
section.login_content form fieldset input[type = 'password']{
    margin-bottom: 55px;
}
section.login_content form fieldset input[type = 'submit']{
    height: 50px;
    font-size: 18px;
    color: #fff;
    background-color: #878589;
    border: none;
    justify-content: center;
    align-items: center;
}
section.login_content form fieldset input:not(:last-of-type){
    padding-left: 20px;
}
section.login_content form fieldset input::placeholder{
    color: #878589;
    font-size: 18px;
}

section.login_content form p{
    width: 110px;
    margin: 0 auto;
    /* 가운데가 아니라 로그인 버튼이랑 왼쪽을 맞춰서 두고싶음 */
}

section.login_content form p a{
    font-size: 11px;
    color: #000;
}